@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap");

:root {
  --accent: rgb(0, 255, 221);
  --dark: rgb(0, 0, 0);
  --darkAccent: rgb(5, 204, 177);
  --light: white;
  --semiTransparent: rgba(150, 150, 150, 0.37);
  --transparent: rgba(255, 255, 255, 0);
}

/* A */

.active {
  color: var(--accent);
}

.App {
  text-align: center;
}

/* B */

body {
  padding-bottom: 85px;
}

body,
html,
.modal-content,
.modal-body,
.modal-header,
.modal-footer {
  background-color: var(--dark);
}

body,
html {
  background-color: var(--dark);
  color: var(--light);
  margin: 0%;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  width: 100%;
}

.btn-danger,
.form-btn,
.btn-danger,
.noEffect {
  font-size: 20px;
  font-weight: 500;
  border: none;
  outline: none;
}

.btn-danger {
  background-color: red;
  outline: 2px solid var(--transparent);
  color: var(--light);
}

.modal-footer > .button {
  color: var(--light);
}

/* C */
.card {
  width: 100%; /* Ensures the card takes full width */
  max-width: 350px; /* Prevents it from getting too wide */
  margin: auto; /* Centers the card */
  max-height: 500px; /* Adjust based on content */
}

.container {
  position: relative;
  height: 100vh;
  max-width: 100%;
  padding: 10px;
}

/* E */

.editForm {
  position: relative;
  width: fit-content;
  margin: auto;
  height: fit-content;
  background-color: white;
  color: black;
}

.errMessage {
  color: var(--darkAccent);
  font-size: 20px;
}

/* F */

.flex {
  display: flex;
  flex-direction: row;
}

footer {
  align-items: center;
  background-color: var(--dark);
  margin-top: 10px;
  padding-top: 1px;
  width: 100vw;
}

.footer-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--dark);
}

.footer-btn i {
  color: var(--darkAccent);
  font-size: 30px;
}

.footer-btn:hover {
  background-color: var(--accent);
  outline: 2px solid --darkAccent;
}

.footer-btn:hover i {
  color: var(--dark);
}

form {
  border-radius: 5px;
  color: var(--light);
  height: fit-content;
  padding: 10px;
}

.form-btn {
  background-color: var(--darkAccent);
  outline: 2px solid var(--transparent);
  border: none;
  color: var(--dark);
}

.item-btn,
.footer-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.form-btn:disabled {
  background-color: var(--darkAccent);
  outline: 2px solid var(--transparent);
  border: none;
  color: var(--dark);
}

.form-btn:hover {
  background-color: var(--transparent);
  outline: 2px solid var(--accent);
  border: none;
  color: var(--accent);
}

.formStyle {
  background-color: var(--transparent);
  filter: blur(20px);
  border: none;
  color: var(--light);
}

/* I */

img {
  height: auto;
  width: 50%;
  object-fit: cover;
  padding-bottom: 2%;
}

.inputField {
  background-color: var(--transparent);
  border: 1px solid var(--semiTransparent);
  color: var(--light);
}

.inputField:focus {
  outline: 2px var(--darkAccent) solid;
  background-color: var(--dark);
  border: none;
  color: var(--light);
}

/* L */

label {
  font-size: 20px;
  margin-top: 20px;
}

.landingPageText {
  font-size: 30px;
}

/* M */

.main {
  width: 100vw;
  padding: 0;
  margin: 100px 0 0 0;
  height: 100vh;
}

/* N */

.navbar {
  background-color: var(--dark);
  font-size: 20px;
  font-weight: 500;
}

.nav-brand {
  color: var(--darkAccent);
}

.navbarToggler {
  color: var(--darkAccent);
  font-size: 30px;
}

.navLink {
  text-decoration: none;
  color: var(--light);
  text-wrap: nowrap;
}

.navLink:hover,
.nav-brand:hover,
.noEffect:hover {
  color: var(--darkAccent);
  text-decoration: none;
  background-color: var(--transparent);
}

.noEffect {
  background-color: var(--transparent);
  padding: 0;
  margin: 0;
  text-align: left;
}

/* P */

p {
  font-size: 20px;
}

.profileInfo {
  margin: auto;
  max-width: 75%;
}

/* R */
.resultPhoto {
  width: 50%;
  height: auto;
}

/* T */

.table-responsive {
  overflow-x: auto;
  width: 100%;
}

.table {
  width: 100%;
  min-width: 600px;
  text-align: left;
}

td,
th {
  white-space: nowrap;
  text-align: left; /* Ensures left alignment */
}

th {
  text-wrap: nowrap;
}

.tableImage {
  max-width: 200px;
  height: auto;
  display: block;
  margin: auto;
}

tr {
  border: none;
  border-style: none;
}

.truncate {
  -ms-text-overflow: ellipsis;
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.truncate:hover {
  overflow: visible;
  background-color: var(--dark);
  white-space: wrap;
}

/* Media Queries*/
@media screen and (max-width: 425px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
    width: 100%;
  }

  th {
    display: none;
  }

  tr {
    border: none;
    margin-bottom: 0px;
    padding: 5px;
  }

  td {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    text-wrap: wrap;
  }

  td::before {
    content: attr(data-label);
    font-weight: bold;
    flex: 1;
  }

  .item-btn {
    width: 50px;
    height: 50px;
  }

  .truncate {
    width: 250px;
  }
}

@media screen and (width: 768px) {
  img {
    width: 50%;
    height: auto;
  }

  table {
    padding: 10px;
    width: 100%;
    display: block;
    overflow-x: auto;
  }

  .truncate {
    width: 200px;
  }

  td,
  th {
    word-break: break-word;
    min-width: 100px;
    padding: 5px;
    flex: 1;
  }

  td {
    text-wrap: nowrap;
  }
}
