@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');

body,html, nav, footer {
    color: white;
}

html {
    min-height: fit-content;
    margin-bottom: 50px;
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: rgb(23, 146, 146);
}

#genImage {
    background-color: black;
    width: 50%;
    height: 100%;
    text-align: center;
    display: inline-block;
}

#imageContainer {
    width:50%;
    background-color: blue;
    display: inline-block;
    text-align: center;
}

#svgContainer {
    max-width: 1000px;
    display: flex;
    max-height: 1000px;
    margin: auto;
    justify-content: center;
    padding: 10px;
}

#svgContainer > svg {
    display: block;
    text-align: center;
    height: 500px;
    width: 500px;
    margin:0 auto;
}

.footerText, .footerText a {
    margin: auto;
    color: white;
    margin-top: 10px;
}